* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
*::-webkit-scrollbar{
  width: 0;
  height: 0;
}

body {
  background-image: linear-gradient(to bottom right, #1c162e, #171D1C);
  font-family: "Nanum Myeongjo", serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}